# Ignore virtual environments
env/
venv/
.venv/
conda-env/

# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore build and distribution folders
build/
dist/
*.egg-info/
.eggs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# Ignore IDE/editor configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
Thumbs.db
